#red{
    font-size: 30px;
    font-weight: normal;
    color: red;
}

#blue{
    font-size: 30px;
    font-weight: normal;
    color: blue;
    height: 200px;
    
}

#orange{
    font-size: 30px;
    font-weight: normal;
    color: orange;
    height: 200px;
    
}

#green{
    font-size: 30px;
    font-weight: normal;
    color: green;
    
}

#yellow{
    font-size: 30px;
    font-weight: normal;
    color: yellow;
    
}
